<div class="register">
  <form [formGroup]="form">
    <div class="form-register">
      <h2>Registro</h2>
      <div class="form-block">
        <label for="nombre">Nombre de usuario</label>
        <input formControlName="nombre" name="nombre" placeholder="Nombre de usuario" />
        <i class="error">
          @if (form.get('nombre')?.touched && form.get('nombre')?.invalid) {
             @if (form.get('nombre')?.errors?.['required']) {
               El nombre es obligatorio
             }
           }
        </i>
      </div>
      <div class="form-block">
        <label for="businessName">Nombre de la empresa</label>
        <input formControlName="businessName" name="businessName" placeholder="Business name" />
        <i class="error">
          @if (form.get('businessName')?.touched && form.get('businessName')?.invalid) {
             @if (form.get('businessName')?.errors?.['required']) {
               El nombre de la empresa es obligatorio
             }
           }
        </i>
      </div>
      <div class="form-block">
        <label for="descripcion">Presentación de la empresa:</label>
        <textarea
          formControlName="descripcion"
          name="descripcion"
          placeholder="Presentación de la empresa"
        ></textarea>
      </div>
      <div class="form-block">
        <label for="email">Email</label>
        <input formControlName="email" name="email" placeholder="Email" />
        <i class="error">
        @if (form.get('email')?.touched && form.get('email')?.invalid) {
            @if (form.get('email')?.errors?.['required']) {
              El email es obligatorio
            }
            @if (form.get('email')?.errors?.['email']) {
              El formato del email no es válido
            }
        }
      </i>
      </div>
      <div class="form-block">
        <label for="password">Contraseña</label>
        <input formControlName="password" name="password" type="password" />
        <i class="error">
          @if (form.get('password')?.touched && form.get('password')?.invalid) {
             @if (form.get('password')?.errors?.['required']) {
               La contraseña es obligatoria
             }
             @if (form.get('password')?.errors?.['minlength']) {
               La contraseña debe tener al menos 3 caracteres
             }
           }
          </i>
      </div>
      <div class="form-block">
        <label for="colorTema">Color para el formulario:</label>
        <select formControlName="colorTema" name="colorTema" id="color">
          @for (color of colores; track $index) {
            <option [style.backgroundColor]="color" value="{{ color }}"></option>
          }
        </select>
      </div>
      <div class="form-block">
        <label for="avatar">Selecciona tu avatar:</label>
        <div class="avatar-list">
          @for (image of imagenes; track image) {
            <img
              [src]="image + '.jpg'"
              (click)="seleccionar(image)"
              [class.selected]="image === selectedAvatar()"
            />
          }
        </div>
      </div>
      <div class="form-block">
        <button [disabled]="form.invalid" (click)="send()">Registrar</button>
      </div>
    </div>
  </form>
</div>
