<div class="body">
    <div class="form">
        <div [formGroup]="form" class="form-login">
            <h1>Login</h1>
            <div class="form-block">
                <label for="email">Email</label>
                <input  type="text" id="email" formControlName="email">
                <div class="error">
                    @if (form.get('email')?.invalid && form.get('email')?.touched) {
                        <i >Nombre es requerido.</i>
                    }
                </div>
                <label for="pass">Contraseña</label>
                <input type="password" formControlName="password" id="pass">
                <div class="error">
                    @if (form.get('password')?.invalid && form.get('password')?.errors?.['minlength'] && form.get('password')?.touched) {
                        <i>Ingrese una contraseña válida.</i>
                    }
                </div>
                <button [disabled]="form.invalid" (click)="send()">Ingresar</button>
            </div>
        </div>
    </div>
</div>
